@font-face {
  font-family: "Arial-Black";
  src: url('../fonts/Arial Black.ttf') format("truetype");
}



.mainSeg {
  width: 100%;
  min-height: 700px;
  padding: 1em 0em;
  background-color:  #1FA5FF;
}

.nav-button {
  margin-left:  20px;
  display: inline-block;
}

.nav-buttons {
  float: right;
}

.home-content {
  background-color: #f2f2f2;
}

.nav {
  float: right;
  display: inline-block;
}

.logo {
  float: left;
  display: inline-block;
  margin-left: 50px;

}

.planRight{
  margin-top: 15%;
}

.pr {
  font-size: 300%;
}

/* .login-main {
  background-image: url(../img/loginLayout.png);
} */

.login-main {
    height: 100vh;
    margin: auto;
    background-size: 100%;
}

.login-container {
  background-color: #1FA5FF;
}

.login-form {
  padding-top: 50px;
}


.login-form-message {
  background-color: black;
}


.loginForm {
  width: 400px;
  height: 500px;
  margin: auto;
  padding-top: 20%;
}



.recommendationImage {
  height: 250px;
}


.recommendationImageWidth {
  width: 100%;
  height: 150px;
}



.recommendationCard {
  margin-right: 20px;
}

.chatBox {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  border: 2px solid #2f3542;
  background-color: #747d8c;
  padding: 0;
  max-height: 25vh;
  overflow: scroll;
  border-radius: 10px;
}

.chat-header {
  margin-top: 5px;
  margin-left: 10px;
  width: 100%;
}

.chat-msg {
  margin-left: 15px;
}

.chat-top {
  background-color: #57606f;
  padding-bottom: 10px;
}

.chatBox-two.segment{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 266px;
/*  border: 2px solid #2f3542;
  background-color: #747d8c;*/
  padding: 0;
  max-height: 25vh;
  overflow: scroll;
  border-radius: 10px;
}

.chatBox-two-shown.segment{
/*  position: fixed;
  bottom: 0;
  right: 0;*/
  width: 250px;
/*  border: 2px solid #2f3542;
  background-color: #747d8c;*/
  padding: 0;
  max-height: 25vh;
  border-radius: 10px;
}

.outer-chat-box-container.segment{
  position: fixed;
  bottom: 0;
  right: 0;
  padding-top: 2px;
}

.chatBox-body.segment{
  width: 100%;
  max-width: 250px;
  max-height: 30vh;
  min-height: 10vh;
  overflow: scroll;
}

.close-buton-chat.chat-box{
  float: right;
  margin: 3 3 3 3;
}

.recommendations {
  /*max-height: 55vh;*/
  overflow: scroll;
}

.camera {
  margin: auto;
  padding: 0;
}


.primary-btn{
  float: right;
  margin-top: 90px;
  margin-right: 80px;
/*  background-color:#F44336;
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}
/*.primary-btn-fab:focus {
  transform:scale(1.1);
  transform:rotate(45deg);
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}*/



.trip-badge-image{
  /*height: 80px;*/
}

.delete-button:hover {
  color: red;
}
