@font-face {
  font-family: "Arial-Black";
  src: url('../fonts/Arial Black.ttf') format("truetype");
}



.mainSeg {
  height: 100vh;
}

.nav {
  float: right;
  display: inline-block;
}

.logo {
  float: left;
  display: inline-block;
  margin-left: 50px;

}

.planRight{
  margin-top: 15%;
}

.pr {
  font-size: 300%;
}

/* .login-main {
  background-image: url(../img/loginLayout.png);
} */

.login-main {
    height: 100vh;

    background-image: url('../img/loginLayout.png') !important;
    background-size: 100%;
    background-repeat: no-repeat;
}

.loginForm {
  width: 400px;
  height: 500px;
  margin: auto;
  padding-top: 20%;
}
